@font-face {
  font-family: "iconfont"; /* Project id 3551298 */
  src: url('iconfont.woff2?t=1658973635017') format('woff2'),
       url('iconfont.woff?t=1658973635017') format('woff'),
       url('iconfont.ttf?t=1658973635017') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-create:before {
  content: "\e704";
}

.icon-save:before {
  content: "\e791";
}

.icon-bianji:before {
  content: "\e600";
}

.icon-date:before {
  content: "\e65e";
}

.icon-close:before {
  content: "\e747";
}

.icon-back:before {
  content: "\e666";
}

.icon-lock:before {
  content: "\e676";
}

.icon-select:before {
  content: "\e67e";
}

.icon-unlock:before {
  content: "\e682";
}

.icon-eye-close:before {
  content: "\e603";
}

